@import url('https://fonts.googleapis.com/css?family=Dosis|Abel|IBM+Plex+Sans:100,700');
html,
body {
    height: 100vh;
    -webkit-font-smoothing: antialiased;
}

.background {
    position: absolute;
    height: 100%;
    width: 100%;
    background: url("https://gdurl.com/NSum") no-repeat center fixed;
    background-size: cover;
}

.row{
    margin-top: 30px;
}

.overlap {
    background-color: #ffffffc1;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 0;
    min-height: 100%;
    height: auto;
}

#navbar-collapse-x {
    margin: 0;
    padding: 0;
}

.navbar {
    position: absolute;
    z-index: 99;
    margin-bottom: 0;
    padding: 0px;
    width: 100%;
}

.navbar-brand {
    color: #000000!important;
    font-family: Abel;
    font-size: 20px;
    margin: 25px;
    letter-spacing: 3px;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border: none;
    border-color: none;
}

#top {
    margin-top: 100px;
}

.overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0%;
    margin: 0;
    background-color: #fffffff2;
    height: -webkit-fill-available;
    text-align: center;
}

.overlay h2 {
    margin: 0;
    margin-top: 70px;
    margin-bottom: 10px;
}

.overlay h2 a {
    transition: 0.3s ease-in-out;
    color: #0000008c;
    font-size: 30px;
    text-decoration: none;
    display: inline-block;
    position: relative;
    font-family: 'Dosis', sans-serif;
}

.overlay h2 a:hover {
    color: black;
}


/*effect-underline*/

.overlay h2 a:after {
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    height: 1em;
    width: 100%;
    border-bottom: 1px solid;
    margin-top: 10px;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.7s, transform 0.5s;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
}

.overlay h2 a:hover:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

#btn-nav {
    z-index: 9;
    margin: 30px;
    padding-right: 8px;
    padding-left: 8px;
    background: transparent;
}

#btn-nav[aria-expanded="true"] .icon-bar {
    transition-delay: 1s ease-in-out;
    transition-duration: 1s ease-in-out;
    background-color: #b1b1b1!important;
}

.icon-bar {
    margin: 5px;
    width: 25px;
    transition-duration: 0.8s;
    background-color: #000000!important;
}

.navbar-header {
    float: none;
}

.navbar-toggle {
    display: block;
    border: none;
    border-color: none;
    background: none;
    padding: 6px 10px;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-fixed-bottom .navbar-collapse,
.navbar-fixed-top .navbar-collapse {
    max-height: 100%;
}

.navbar-collapse.collapse {
    display: none!important;
}

.navbar-collapse.collapse.in {
    display: block !important;
}

.navbar-nav {
    float: none!important;
    margin: 7.5px -15px;
}

.navbar-nav>li {
    float: none;
}

.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
}

.pen .navbar-toggle {
    border: none;
    background: transparent !important;
}

.pen .navbar-toggle:hover {
    background: transparent !important;
}

.pen .navbar-toggle .icon-bar {
    width: 22px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}


/* ANIMATED X */

.navbar-toggle.x .icon-bar:nth-of-type(1) {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 10% 10%;
    -ms-transform-origin: 10% 10%;
    transform-origin: 0% 10%;
}

.navbar-toggle.x .icon-bar:nth-of-type(2) {
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-toggle.x .icon-bar:nth-of-type(3) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 10% 90%;
    -ms-transform-origin: 10% 90%;
    transform-origin: 10% 90%;
}


/* ANIMATED X COLLAPSED */

.navbar-toggle.x.collapsed .icon-bar:nth-of-type(1) {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
}

.navbar-toggle.x.collapsed .icon-bar:nth-of-type(2) {
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggle.x.collapsed .icon-bar:nth-of-type(3) {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
}


/* END ANIMATED X */


/* ANIMATED RIGHT ARROW */

.navbar-toggle.rarr.collapsed .icon-bar:nth-of-type(1) {
    transform: translate3d(0, 0, 0) rotate(0deg);
    transform-origin: right top;
    width: 22px;
}

.navbar-toggle.rarr.collapsed .icon-bar:nth-of-type(2) {
    transform: translate3d(0, 0, 0) rotate(0deg);
}

.navbar-toggle.rarr.collapsed .icon-bar:nth-of-type(3) {
    transform: translate3d(0, 0, 0) rotate(0deg);
    transform-origin: right bottom;
    width: 22px;
}

.navbar-toggle.rarr .icon-bar:nth-of-type(1) {
    transform: translate3d(11px, 6px, 0) rotate(45deg);
    transform-origin: right top;
    width: 11px;
}

.navbar-toggle.rarr .icon-bar:nth-of-type(2) {
    /* transform: scale(0.75); */
    ;
}

.navbar-toggle.rarr .icon-bar:nth-of-type(3) {
    transform: translate3d(11px, -6px, 0) rotate(-45deg);
    transform-origin: right bottom;
    width: 11px;
}


/* END ANIMATED RIGHT ARROW */


/* ANIMATED LEFT ARROW */

.navbar-toggle.larr.collapsed .icon-bar:nth-of-type(1) {
    transform: translate3d(0, 0, 0) rotate(0deg);
    width: 22px;
}

.navbar-toggle.larr.collapsed .icon-bar:nth-of-type(2) {
    transform: translate3d(0, 0, 0) rotate(0deg);
}

.navbar-toggle.larr.collapsed .icon-bar:nth-of-type(3) {
    transform: translate3d(0, 0, 0) rotate(0deg);
    width: 22px;
}

.navbar-toggle.larr .icon-bar:nth-of-type(1) {
    transform: translate3d(0px, 6px, 0) rotate(45deg);
    transform-origin: left top;
    width: 11px;
}

.navbar-toggle.larr .icon-bar:nth-of-type(3) {
    transform: translate3d(0px, -6px, 0) rotate(-45deg);
    transform-origin: left bottom;
    width: 11px;
}


/* END ANIMATED LEFT ARROW */


/* ANIMATED UP ARROW */

.navbar-toggle.uarr.collapsed .icon-bar:nth-of-type(1) {
    transform: translate3d(0, 0, 0) rotate(0deg);
    width: 22px;
}

.navbar-toggle.uarr.collapsed .icon-bar:nth-of-type(2) {
    transform: translate3d(0, 0, 0) rotate(0deg);
}

.navbar-toggle.uarr.collapsed .icon-bar:nth-of-type(3) {
    transform: translate3d(0, 0, 0) rotate(0deg);
    width: 22px;
}

.navbar-toggle.uarr .icon-bar:nth-of-type(1) {
    transform: translate3d(1px, 0, 0) rotate(-45deg);
    transform-origin: center center;
    width: 11px;
}

.navbar-toggle.uarr .icon-bar:nth-of-type(2) {
    transform: rotate(-90deg);
    transform-origin: center center;
}

.navbar-toggle.uarr .icon-bar:nth-of-type(3) {
    transform: translate3d(0px, -14px, 0) rotate(-135deg);
    transform-origin: right top;
    width: 11px;
}


/* END ANIMATED UP ARROW */


/* ANIMATED PLUS */

.navbar-toggle.plus.collapsed .icon-bar:nth-of-type(1) {
    transform: translate3d(0, 0, 0) rotate(0deg);
}

.navbar-toggle.plus.collapsed .icon-bar:nth-of-type(2) {
    transform: translate3d(0, 0, 0) rotate(0deg);
}

.navbar-toggle.plus.collapsed .icon-bar:nth-of-type(3) {
    transform: translate3d(0, 0, 0) rotate(0deg);
}

.navbar-toggle.plus .icon-bar:nth-of-type(1) {
    transform: translate3d(0px, 6px, 0) rotate(90deg);
    transform-origin: center center;
}

.navbar-toggle.plus .icon-bar:nth-of-type(3) {
    transform: translate3d(0px, -6px, 0) rotate(-90deg);
    transform-origin: center center;
}


/* END ANIMATED PLUS */


/* ANIMATED MINUS */

.navbar-toggle.minus.collapsed .icon-bar:nth-of-type(1) {
    transform: translate3d(0, 0, 0) rotate(0deg);
}

.navbar-toggle.minus.collapsed .icon-bar:nth-of-type(2) {
    transform: translate3d(0, 0, 0) rotate(0deg);
}

.navbar-toggle.minus.collapsed .icon-bar:nth-of-type(3) {
    transform: translate3d(0, 0, 0) rotate(0deg);
}

.navbar-toggle.minus .icon-bar:nth-of-type(1) {
    transform: translate3d(0, 6px, 0);
}

.navbar-toggle.minus .icon-bar:nth-of-type(3) {
    transform: translate3d(0, -6px, 0);
}


/* END ANIMATED MINUS */


/* FORCE NAVBAR-TOGGLE */

.pen .navbar-header {
    float: none;
}

.pen .navbar-toggle {
    display: block;
}

.pen .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
}

.pen .navbar-collapse.collapse {
    display: none !important;
}

.pen .navbar-nav {
    float: none !important;
    margin: 7.5px -15px;
}

.pen .navbar-nav > li {
    float: none;
}

.pen .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
}

.pen .navbar-collapse.collapse.in {
    display: block !important;
}

.pen .navbar-brand {
    font-size: 14px;
}





#landing-text {
    position: absolute;
    display: table;
    height: 100%;
    width: 100%;
    z-index: 9;
}

#landing-text h1 {
    font-size: 60px;
    font-weight: 700;
    margin-top: 0;
    color: black;
    font-family: IBM Plex Sans;
}

#landing-text h3 {
    font-size: 25px;
    color: black;
    letter-spacing: 1px;
    font-family: IBM Plex Sans;
}

#text-container {
    vertical-align: middle;
    display: table-cell;
}

.fa {
    transition: 0.3s ease-in-out;
    margin-top: 65px;
    margin-bottom: 0px;
    margin-left: 35px;
    margin-right: 35px;
    font-size: 25px;
    color: grey;
}

.fa:hover {
    color: #000000;
    text-decoration: none;
}

.icon {
    max-width: 200px;
}

.demo a {
    position: absolute;
    bottom: 20px;
    left: 50%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #fff;
    font: normal 400 20px/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
}

.demo a:hover {
    opacity: .5;
}

.scroll-down {
    z-index: 9;
    opacity: 1;
    -webkit-transition: all .5s ease-in 3s;
    transition: all .5s ease-in 3s;
}

.scroll-down {
    position: absolute;
    bottom: 5px;
    left: 50%;
    margin-left: -16px;
    display: block;
    width: 32px;
    height: 32px;
    background-size: 14px auto;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.scroll-down:hover {
    text-decoration: none;
}

.scroll-down:before {
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 15px;
    height: 15px;
    content: "";
    border: 2px solid #0000009e;
    border-width: 0px 0 2px 2px;
}

.scroll-down p {
    transition: all .3s ease-in;
    margin: -35px -20px;
    padding-bottom: 20px;
    font-size: 22px;
    width: fit-content;
    font-family: IBM Plex Sans;
    color: #00000057;
    font-weight: 600;
}

.scroll-down p:hover {
    color: #000000;
}

.container {
    padding: 25px;
    padding-bottom: 0;
    width: auto;
}

#img_preloader {
    margin-bottom: 15px;
}

#img_preloader img {
    float: right;
}

#preloader {
    margin-top: 100px;
}

#preloader h1 {
    font-family: IBM Plex Sans;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 15px;
}

#preloader p {
    margin-top: 20px;
    font-family: IBM Plex Sans;
    font-size: 20px;
    letter-spacing: 2.5px;
    padding-right: 25px;
    padding-left: 3px;
}

#preloader a {
    color: #7d7d7d;
    text-decoration: none;
    transition: 0.3s ease-in-out;
    font-family: Abel;
    letter-spacing: 2.5px;
    margin-left: 5px;
    margin-top: 10px;
}

#preloader a:hover {
    color: black;
}

#preloader a i {
    vertical-align: middle;
    font-size: 20px;
    line-height: 0;
}

.o-section {
    background: #fbfbfb;
    margin-top: 35px;
    padding-top: 30px;
}

.widget--center {
    text-align: center;
}

.widget__title {
    margin-bottom: 1.75rem;
    font-size: 25px;
    letter-spacing: 1px;
    font-family: IBM Plex Sans;
    font-weight: 600;
    color: #5a5a5a;
}

.widget--subscribe .widget__description {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

.subscribe {
    position: relative;
    width: 490px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.subscribe__input {
    padding-right: 120px;
}

.o-input--big {
    height: 4.5rem;
    padding: 30px;
}

.o-text {
    font-family: IBM Plex Sans;
    letter-spacing: 1px;
    margin-bottom: 25px;
    margin-top: 20px;
}

.subscribe__button {
    position: absolute;
    padding: 24px;
    right: 0rem;
    top: 0px;
}

.o-button--default {
    background: 0 0;
    color: #1f1f1f;
    letter-spacing: .14em;
    text-transform: uppercase;
    font-size: .875rem;
}

.o-input--full {
    display: block;
    width: 100%;
}

input:focus {
    border: 1px solid #dadada;
    outline: 0;
}

input {
    font-size: 15px;
    background-color: #fff;
    border: 1px solid #efefef;
    color: #8e8e8e;
    text-decoration: none;
    letter-spacing: 1.5px;
    border-radius: 0;
    box-shadow: none;
    box-sizing: border-box;
    transition: 0.4s ease-in-out;
}

#footer {
    text-align: center;
    background: white;
    padding: 5px;
    margin-top: 70px;
}

#footer_text {
    text-align: center;
    margin-top: 25px;
    font-family: IBM Plex Sans;
    font-size: 11px;
    letter-spacing: 2px;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #9c9c9c;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #9c9c9c;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #9c9c9c;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #9c9c9c;
}

@media screen and (max-width: 1200px){
    #preloader{
        margin-top: 60px;
    }
}

@media screen and (max-width: 934px) {
    #preloader p {
        font-size: 17px;
    }
}


@media screen and (max-width: 840px){
    #preloader{
        margin-top: 30px;
    }
}


/*Animations*/

#overlay {
    animation: 0.8s ease-out 0s normal forwards 1 fadein;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    66% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    0% {
        opacity: 0;
    }
    66% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes bounce {
    0%,
    100%,
    20%,
    50%,
    80% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    60% {
        -webkit-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        transform: translateY(-5px);
    }
}


/* Fade In Elements */

.navbar-brand,
.scroll-down,
.navbar,
#btn-nav {
    text-align: center;
    -webkit-animation: fadein 1s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s;
    /* Firefox < 16 */
    -ms-animation: fadein 1s;
    /* Internet Explorer */
    -o-animation: fadein 1s;
    /* Opera < 12.1 */
    animation: fadein 1s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


/* Firefox < 16 */

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Safari, Chrome and Opera > 12.1 */

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Internet Explorer */

@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Opera < 12.1 */

@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media screen and (max-width: 767px) {
    .navbar-brand {
        margin: 20px;
        margin-top: 25px;
    }
}

@media screen and (max-height: 640px) {
    #landing-text h1 {
        font-size: 50px;
        margin-left: 12px;
        margin-right: 12px;
    }
    #landing-text h3 {
        font-size: 22px;
    }
}

@media screen and (max-width: 420px){
    .widget__content{
        margin: 25px;
    }
    input{
        font-size: 12px;
    }
    .widget{
        margin: 30px;
    }
}

/* Pre Loader */

.vertical-centered-box {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    text-align: center;
}

.vertical-centered-box:after {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}

.vertical-centered-box .content {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    font-size: 0;
}

.loader-circle {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 1px rgba(224, 224, 224, 0.5);
    margin-left: -60px;
    margin-top: -60px;
}

.loader-line-mask {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 60px;
    height: 120px;
    margin-left: -60px;
    margin-top: -60px;
    overflow: hidden;
    -webkit-transform-origin: 60px 60px;
    -moz-transform-origin: 60px 60px;
    -ms-transform-origin: 60px 60px;
    -o-transform-origin: 60px 60px;
    transform-origin: 60px 60px;
    -webkit-mask-image: -webkit-linear-gradient(top, #000000, rgba(0, 0, 0, 0));
    -webkit-animation: rotate 1.2s infinite linear;
    -moz-animation: rotate 1.2s infinite linear;
    -o-animation: rotate 1.2s infinite linear;
    animation: rotate 1.2s infinite linear;
}

.loader-line-mask .loader-line {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 1px rgba(110, 110, 110, 0.5);
}

#particles-background {
    z-index: 999;
    background-image: linear-gradient(45deg, #fbfbfb 2%, #cccccc 100%);
}

lesshat-selector {
    -lh-property: 0;
}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes rotate {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-o-keyframes rotate {
    0% {
        -o-transform: rotate(0deg);
    }
    100% {
        -o-transform: rotate(360deg);
    }
}

@keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

[not-existing] {
    zoom: 1;
}

lesshat-selector {
    -lh-property: 0;
}

@-webkit-keyframes fade {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.25;
    }
}

@-moz-keyframes fade {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.25;
    }
}

@-o-keyframes fade {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.25;
    }
}

@keyframes fade {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.25;
    }
}

[not-existing] {
    zoom: 1;
}

lesshat-selector {
    -lh-property: 0;
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

[not-existing] {
    zoom: 1;
}

@media screen and (max-width: 887px;
) {
    #preloader {
        margin-top: 40px
    }
}
